Flask
Flask-SocketIO
google-auth
gspread
SpeechRecognition
transformers
rapidfuzz
torch
sqlite3
streamlit==1.32.0
langchain-community==0.0.20
langchain-groq==0.1.0
transformers==4.36.0
python-dotenv==1.0.0
gspread==6.0.0
pandas==2.1.4
uuid==1.30
google-api-python-client==2.104.0
google-auth==2.25.0
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.1.0
sqlite3==2.6.0
faiss-cpu==1.7.4
speechrecognition==3.10.0
threading==3.10.0
